<!DOCTYPE html>
<html lang="en">
<head>
    <title>Postcode Checker</title>
</head>
<body>
<form method="POST" action="/check">
  <input type="text" name="postcode" id="postcode">
  <input value="Check Postcode" type="submit">
</form>
    
</body>
</html>