<!DOCTYPE html>
<html lang="en">
<head>
    <title>Postcode Checker</title>
</head>
<body>
<h1> Rejected </h1>
<p> This postcode is not whitelisted. </p>
<p> You can add postcodes to the whitelist <a href="/custom_whitelist"> here</a>!
    
</body>
</html>