<!DOCTYPE html>
<html lang="en">
<head>
    <title>Postcode Checker</title>
</head>
<body>
<h1> Whitelist </h1>
<ul>
  <% @custom_whitelist.each do |item| %>
    <li> <%= item.postcode %> <a href="delete/<%= item.id %>"> remove </a></li>
  <% end %>
</ul>

<p>Add postcodes to the custom whitelist below</p>

<form method="POST" action="/add_to_whitelist">
  <input type="text" 
         name="whitelist_postcode" 
         pattern="([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9]?[A-Za-z]))))\s?[0-9][A-Za-z]{2})"
         id="whitelist_postcode">
  <input value="Add to Whitelist" type="submit">
</form>
    
</body>
</html>